@use 'globals';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #101010;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  .facebook {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 1;
  }

  .font-preload {
    font-family: 'bundyregular';
    opacity: 0;
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .smoke {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    z-index: -1;
    background-image: url('../img/smoke.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: blur(2px);
    transform-origin: top left;
    transform: scale(5);
  }

  .container {
    padding: 60px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    min-height: 100%;
    transition: 400ms all;

    &.fade-back {
      transform: scale(0.95);
      opacity: 0.05;
      height: 100%;
      overflow: hidden;
    }

    .elements {
      margin: auto;
      width: 100%;

      .logo-container {
        text-align: center;
        max-width: 340px;
        margin: 0px auto;

        img {
          width: 100%;
          height: auto;
        }
      }

      .form-container {
        max-width: 390px;
        margin: 0px auto;
        text-align: center;
      }

      .stage-container {
        max-width: 500px;
        width: 100%;
        overflow: hidden;

        &.hidden {
          display: none;
        }

        #stage {
          display: flex;
          flex-direction: column;

          #display-user-name {
            text-transform: lowercase;
            font-family: 'bundyregular';
            color: #fff;
            text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
            font-size: 72px;
            margin: 20px auto;
            white-space: nowrap;
            font-weight: normal;
            line-height: 123px;
            display: inline-block;
            // word-spacing: 100vw;

            em {
              margin: 4px;
              font-style: normal;
              text-shadow: none;
              text-transform: capitalize;
              display: inline-block;
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              width: 100px;
              height: 100px;
              line-height: 100px;
              background: #1b370f;
              border: 3px solid #fff;
              font-size: 72px;
              font-weight: bold;
              text-align: center;
              letter-spacing: -3px;
              cursor: pointer;
              position: relative;
              background: linear-gradient(135deg, #1b370f 0%, #53af6c 100%);

              sup {
                background: none;
                border: none;
                margin: 0;
                font-size: 12px;
                position: absolute;
                top: 5px;
                right: 5px;
                line-height: 12px;
                letter-spacing: 0px;
                text-align: right;
              }

            }
          }

        }

        .elements-container {
          text-align: center;

          .element {
            display: inline-block;
            margin: 4px;

            .element-button {
              display: inline-block;
              background: transparent;
              width: 70px;
              height: 70px;
              line-height: 70px;
              font-size: 48px;
              border: 2px solid #fff;
              font-weight: bold;
              text-align: center;
              letter-spacing: -3px;
              cursor: pointer;
              position: relative;

              sup {
                font-size: 9px;
                height: auto;
                width: auto;
                top: 3px;
                right: 3px;
                line-height: 9px;
                position: absolute;
                letter-spacing: 0px;
                text-align: right;
              }

              &.selected {
                background: #fff;
                color: #101010;
                box-shadow: inset 0px -4px 0px #53af6c;
                border: none;
                width: 74px;
                height: 74px;
              }

            }

          }

          a {
            font-weight: normal;
            display: block;
            margin-top: 2px;
            font-size: 11px;
            text-align: center;
          }

        }

        .share {
          margin: 0px auto 40px auto;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          color: #101010;

          img {
            width: 13px;
            height: auto;
            margin-left: 7px;
            margin-top: -2px;
          }
        }
      }
    }
  }

  .share-container {
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 400ms;
    pointer-events: auto;
    position: fixed;
    top: 0;
    left: 0;

    &.hidden {
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
    }

    .share-elements {
      display: flex;
      flex-direction: column-reverse;
      max-width: 500px;
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      align-items: center;
      position: relative;

      .close {
        width: 30px;
        height: 30px;
        background: url('../img/close.png');
        background-size: 30px 30px;
        filter: invert(1);
        position: absolute;
        top:40px;
        right:40px;
        cursor: pointer;
      }

      .share {
        margin: 20px auto 0 auto;
        display: flex;
        // align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #101010;


        img {
          width: 13px;
          height: auto;
          margin-left: 7px;
          margin-top: 0px;
        }
      }

      .download {
        color: #101010;
        cursor: pointer;
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 20px;
        margin: 20px auto;
        padding: 5px 20px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 13px;
          height: auto;
          margin-top: 1px;
          margin-left: 7px;
          transform: rotate(180deg);
        }
      }

      canvas {
        width: 100%;
        height: auto;
        border-radius: 15px;
      }
    }
  }
}